* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,Poppins,sans-serif;
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    height: 100vh;
  }
  
h1{
    font-size: 5vw;
}
h2{
    font-size: 3vw;
}

h3{
    font-size: 7vw;
}

h4{
    font-size: 2vw;
}

.social-media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}

.social-link {
    color: rgb(90, 90, 90);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.social-media a:hover {
    color: rgb(52, 52, 52);
}

.box {
position: sticky;
top: 0;
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
z-index: 2;
}


.projects{
border-top:1px solid black;
border-bottom:1px solid black;
}

.content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
}

#first{
    z-index: 0;
}

.black{
color: black;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.white a{
color: white;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.white a:hover {
color: rgb(211, 211, 211);
}

.black a:hover {
color: rgb(55, 55, 55);
}

a{
    text-decoration: none;
}

#box1 {
background-image: url('FGFM.png');
}

#box2 {
background-image: url('TDOSS.png');
}

#box3 {
background-image: url('Bigler.png');
}

#box4 {
background-image: url('PSUPlanes.jpg');
}

#box5 {
background-image: url('Skull.jpg');
}

#box6 {
background-image: url('Dollar.jpg');
}

#box7 {
    background-image: url('OWZA.webp');
}

