html{
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    padding: 0;
    font-family: Poppins,Poppins,sans-serif;
    
}

h1{
    font-size: 60px;
    padding-bottom: 20px;
}

header {
    padding-left: 40px;
}

.description{
    padding-left: 40px;
    padding-right: 10px;
    line-height: 23px;
    max-width: 800px;
    margin-bottom: 60px;
}

.opacity {
    opacity: 100;
    -webkit-animation: opacity calc(var(--index)*.25s) 1 ease-in;
}


@-webkit-keyframes opacity  {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0; 
    }
    100% {
        opacity: 100;
    }
}

ul{
    padding-left: 30px;
}

.idkwhattocallthis{
    font-style: italic;
    color: rgb(112, 112, 112);;
}

.idkwhattocallthis hr{
    max-width: 800px;
    margin-left:0;
    border: 1px solid black;
}

.view{
    position: relative;
    margin-top: -30px;
    display: inline-block;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(69, 69, 69);
}

a:hover{
    color: black;
}

footer{
    font-family: Poppins,Poppins,monospace;
    position: fixed;
    text-align: right;
}

footer a{
    text-decoration: none;
    color: blue
}

footer a:hover{
    color: rgb(46, 46, 46);
}


@media (max-width: 949px)
{

    h2{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    footer{
        font-size: 14px;
        bottom: 0px;
        left: 0px;
        background-color: rgb(169, 169, 169);
        width: 100%;
        padding-right: 20px;
        margin-top: 0px;
    }

    .bottom{
        margin-bottom: 120px;
    }

    ul{
        padding-left: 15px;
    }

    header {
        padding-left: 20px;
    }
    
    .description{
        padding-left: 20px;
        line-height: 25px;
    }
}

footer h2{
    margin-right: 20px;
}

@media (min-width: 950px)
{
    .view{
        padding-left: 10px;
    }

    footer{
        top: 10px;
        right: 10px;
    }
}
