html {
    background-color: black;
}

body {
    margin: 0 auto;
    padding: 0;
    clear: both;
    font-family: Andale Mono,AndaleMono,monospace;
}


header {
    position: fixed;
}

.colors {
    background-color: black;
}

.name {
    text-align: center;
    width: 100%;
    color: white;
    margin: auto;
    padding-top: 40px;
    padding-left: 5%;
    font-size: 3.7vw;
}

.links {
    display: inline-block;
    color: black;
    margin: 0px;
    padding-top: 1vw;
    padding-left: 5%;
    font-size: 55px;
    position: fixed;
    bottom: 5%;
    left: 5%;
}


.colors {
top: 0px;
}

.black {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.white {
    background-color: white;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.portfolio:hover{
    transform: scale(1.05);
}

.contact:hover{
    transform: scale(1.05);
}

.twitter:hover{
    transform: scale(1.05);
}

@media (max-width: 600px) {

    .links {
        display: inline-block;
        height: 90vh;
        color: black;
        padding-left: 5%;
        right: 1vw;
        font-size: 10vw;
        position: inherit;
        bottom: -25%;
        left: 5%;
    }

}