@import url('https://fonts.googleapis.com/css2?family=Anta&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}


.star{
    margin: 10px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    z-index: 10;
    transform: rotate(-20deg);
}

.star img{
    width: 10vw;
    min-width: 70px;
    animation: spin 5s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(-5deg);}
    50% { transform: rotate(5deg);}
    100% { transform: rotate(-5deg);}
}

h1{
    font-size: calc(20px + 3vw);
}
h2{
    font-size: calc(10px + 1.5vw);
}
h3{
    font-size: calc(8px + 1.4vw);
}
h4{
    font-size: calc(6px + 1.3vw);
}

.top{
    position: relative;
    background-color: #036f33;
    padding-top: 20px;
    width: 100%;
    color: #f8B229;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    
}

.header {
    padding: 10px;
}

.card{
    position: relative; 
}

.card img{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    animation: bob 3s ease-in-out infinite;

    max-height: 60vh;
    max-width: 80vw;
    box-shadow: 0px 0px 50px rgb(252, 85, 85);
}

.card img:hover {
    animation: none;
}

@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    45%, 55% {
        transform: translateY(10px);
    }
}

.view{
    z-index: 11;
    position: relative;
    padding-top: 20px;
    top: -40px;
}

.view a{
    padding: 10px;
    color: white;
    background-color: #e0432e;
    border-radius: 12px;
    text-decoration: none;
}

.view a:hover{
    background-color: #c63b29;
}

.pricing {
    width: 100%;
    background-color: rgb(243, 229, 204);
    align-items: center;
    text-align: center;
}

.pricing h2{
    color: #e0432e;
}

.presents{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.buy{
    max-width: 30vw;
    align-items: center;
    text-align: center;
}

.buy img{
    max-width: 28vw;
    border-width: 3px;
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222);
}

.buy img:hover{
    transform: translate(0, -5px);
}

.buy h2{
    padding-top: 10px;
}

.buy a{
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #e0432e;
    border-radius: 12px;
    text-decoration: none;
}

.buy a:hover{
    background-color: #c63b29;
}

.button{
    padding-top: 20px;
    padding-bottom: 100px;
}

.faq{
    background-color: #036f33;
    padding-top: 5px;
    width: 100%;
    color: #f8B229;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    justify-content: center;
}

.Qs{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    color: #f8B229;
    text-align: left;

    max-width: 100vw;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 700px) {
    .Qs {
        grid-template-columns: 1fr 1fr;
    }
}

.Qs hr{
    width: 100%;
    border: 1px solid #f8B229;
    border-radius: 2px;
}

.question{
    padding: 20px;
    max-width: 900px;
}

.question a{
    color: #f8B229;
    text-decoration: none;
}

.question a:hover{
    color: #c99121;
}

.footer {
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer a{
    width: 100%;
    background-color: #036f33;
    color: #034d24;
    text-decoration: underline;
    margin: 0px 2vw;
}

.footer a:hover{
    text-decoration: none;
}